

@{
    ViewData["Title"] = "Estudios";
}
<h2>Lista de Estudios</h2>

<p>
    <a class="btn btn-info" data-target="#IngresoEstudio"
       data-toggle="modal" onclick="siteJsMostrarTipoEstudio()">Agregar Nuevo Estudio</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>

                Detalle

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody id="ListaEstudio"></tbody>
</table>

<div class="modal fade" id="IngresoEstudio" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="EtiquetaModal">
                    Estudio
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">Estudio</label>
                        <input id="estudio" name="estudio"
                               class="form-control" />

                        <input id="estudioId" name="estudioId" hidden />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-toggle="tooltip"
                        title="Con este boton usted cerrara la ventana"
                        data-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" data-toggle="tooltip"
                        title="Con este boton usted guardará un nuevo Estudio"
                        onclick="grabaEstudio();">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>