
@{
    ViewData["Title"] = "Discapacidades";
}

<h2>Lista de Discapacidades</h2>

<p>
    <a class="btn btn-info" data-target="#IngresoDiscapacidad"
       data-toggle="modal" onclick="siteJsMostrarTipoDiscapacidad()">Agregar Nueva Discapacidad</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>

                Detalle

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody id="ListaDiscapacidad"></tbody>
</table>

<div class="modal fade" id="IngresoDiscapacidad" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="EtiquetaModal">
                   Discapacidad
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">Discapacidad</label>
                        <input id="discapacidad" name="discapacidad"
                               class="form-control" />

                        <input id="discapacidadId" name="discapacidadId" hidden />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-toggle="tooltip"
                        title="Con este boton usted cerrara la ventana"
                        data-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" data-toggle="tooltip"
                        title="Con este boton usted guardará un nuevo cliente"
                        onclick="grabaDiscapacidad();">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>